version: '3.8'
services:
  jenkins-docker:
    image: docker:dind
    privileged: true
    networks:
      jenkins:
        aliases:
          - docker
    environment:
      - DOCKER_TLS_CERTDIR: '/certs'
    volumes:
      - jenkins-docker-certs:/certs/client
      - jenkins-data:/var/jenkins_home
    ports:
      - "2376:2376"

  jenkins-blueocean:
    image: jenkinsci/blueocean
    networks:
      - jenkins
    environment:
      - DOCKER_HOST: 'tcp://docker:2376'
      - DOCKER_CERT_PATH: '/certs/client'
      - DOCKER_TLS_VERIFY: 1
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins-data:/var/jenkins_home
      - jenkins-docker-certs:/certs/client:ro

  jenkins-secondary-node:
    environment:
      DOCKER_HOST: 'tcp://docker:2376'
      DOCKER_CERT_PATH: '/certs/client'
      DOCKER_TLS_VERIFY: 1
    volumes:
      - jenkins-docker-certs:/certs/client:ro
    build:
      dockerfile: jenkins-node.dockerfile
      context: .
    networks:
      jenkins:
        aliases:
          - secondary-node

networks:
  jenkins:
volumes:
  jenkins-docker-certs:
  jenkins-data:
